<%= link_to 'Ingresar Marca', brands_new_path, class:'btn btn-success' %>


<div class="content">
	            <div class="container-fluid">
	                <div class="row">
	                    <div class="col-md-12">
	                        <div class="card">
	                            <div class="card-header" data-background-color="purple">
	                                <h4 class="title">Marcas</h4>
	                                <p class="category">Here is a subtitle for this table</p>
	                            </div>
	                            <div class="card-content table-responsive">
	                                <table class="table">
	                                    <thead class="text-primary">
	                                    	<th>Código</th>
	                                    	<th>Nombre</th>
	                                    	<th>Editar</th>
											<th>Eliminar</th>
	                                    </thead>
	                                    <tbody>
                                          <% @brands.each do |brand| %>  
	                                        <tr>
	                                        	<td><%=brand.codigo %></td>
	                                        	<td><%=brand.nombre %></td>
	                                        	<td><%= link_to 'Editar', edit_brand_path(brand.id) %></td>
												<td class="text-danger"><%= link_to 'Eliminar', brand_path(brand), method: :delete, data: {confirm: "Esta seguro de ejecutar la acción?"}  %></td>
	                                        </tr>
	                                      <% end %>
	                                    </tbody>
	                                </table>

	                            </div>
	                        </div>
                        </div>
                    </div>
                </div>
            </div>                                                                    